
dataset/mner/twitter2015/*
dataset/mner/twitter2015_images/*
dataset/mner/twitter2017/*
dataset/mner/twitter2017_images/*

split_data_similarity/result/twitter2015/10-1/twitter2015_10-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2015/50-1/twitter2015_50-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2015/100-1/twitter2015_100-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2015/all/twitter2015_all_process_caption_similar_image_text_hardindex_test.csv

split_data_similarity/result/twitter2017/10-1/twitter2017_10-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2017/50-1/twitter2017_50-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2017/100-1/twitter2017_100-1_process_caption_similar_image_text_hardindex_test.csv
split_data_similarity/result/twitter2017/all/twitter2017_all_process_caption_similar_image_text_hardindex_test.csv

*.pyc



